{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'PantheonDemoBundle::base_layout.html.twig' %}

{% block page_container %}
    <div class="container">
        <div class="content">
            <div class="row-fluid page-header">
                <div class="span6">
                    <a href="{{ path('pantheon_demo_homepage') }}" class="site-title">
                        <h2>{% block site_title %}Pantheon Demo Site{% endblock %}</h2>
                    </a>
                    <div class="slogan">{% block site_slogan %}{% endblock %}</div>
                </div>

                <div class="span4 navigation pull-right">
                    <div class="user-links-top">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Logged in as <a href="{{ path('sonata_user_profile_show') }}"><strong>{{ app.user.username }}</strong></a> |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                    </div>
                </div>

                <div style="clear: both"></div>
            </div>

            <div class="row-fluid">
                {% block content %}{% endblock %}
            </div>
            
        </div>

        <footer>
            Pantheon Demo
        </footer>
    </div>
{% endblock %}
