<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}Shoeb Project{% endblock %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        {% block head %}
            <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/jaxaraprojectshoeb/css/common.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    <h2>{% block site_title %}Site Title{% endblock %}</h2>
                    <div class="slogan">{% block site_slogan %}Site Slogan{% endblock %}</div>
                </div>

                <div class="search">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Logged in as <a href="{{ path('fos_user_profile_show') }}"><strong>{{ app.user.username }}</strong></a> |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="sf-reset">
                {% block body %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for key, message in messages %}
                            <div class="flash-message flash-{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    {% block content_header %}
                        <ul id="menu">
                            {% block content_header_more %}
                                <li><a href="{{ path('jaxara_project_shoeb_homepage') }}">Home</a></li>
                            {% endblock %}
                        </ul>

                        <div style="clear: both"></div>
                    {% endblock %}
                        
                    <div class="block">
                        {% block content %}{% endblock %}
                    </div>
                        
                    {% if code is defined %}
                        <h2>Code behind this page</h2>
                        <div class="block">
                            <div class="symfony-content">{{ code|raw }}</div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
